.env
./security
security
*/security
*/.security

./.git
.git
database
*/database
*/.database

./.vscode
.vscode
*/.vscode

./.test_folder
.test_folder
*/.test_folder

venv
*/venv

_pycache_
*/_pycache_
./_pycache_
._pycache_

index.html

tests
*/tests
./tests

